/*Dar formato al cuerpo entero*/
* {
    font-family: Arial, Helvetica, sans-serif; /*Tipo de letra en general*/
    /*Quitar margin y padding de los elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Evita que los márgenes y padding sumen al tamaño total*/
    
}
body{
    background-color: #060613;
}