  /*Estilos del perfil*/
/*Dar formato al cuerpo entero*/
* {
    font-family: Arial, Helvetica, sans-serif; /*Tipo de letra en general*/
    /*Quitar margin y padding de los elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Evita que los márgenes y padding sumen al tamaño total*/
}

.login-container{
    display: flex;
    background: radial-gradient(circle at 49% 0, #2d2f3d, #070714 51%, #060613 52%);
    height: 100vh; /*Hace que el contenedor ocupe toda la pantalla*/
}

/*Dar formato al formulario*/
.login-form{
    display: flex;
    flex-direction: column; /*Posicionar los elementos en columna*/
    justify-content: center; /*Centrar horizontalmente los elementos*/
    padding: 0 100px 0 75px; /*Dar padding a cada parte del elemento*/
    width: 40%; /*Anchura del formulario*/

}
form{
    margin-top: 70px;
}

/*Dar formato al texto "Iniciar sesión"*/
.init-text{
    font-size: 3em; /*Tamaño de la letra*/
    color: #ffffff; /*Color de la letra*/
    font-weight: bold;
}

.user-name{
    color: #22ec8a; /*Color de la letra*/
    font-size: 20px;
}

/*Dar estilo al texto /*Correo mágico*/
.mail{
    color: #22ec8a; /*Color de la letra*/
    font-size: 20px; /*Tamaño de la letra*/
}

/*Dar estilo al texto "Palabra mágica"*/
.pass{
    color: #22ec8a; /*Color de la letra*/
   
    font-size: 20px; /*Tamaño de la letra*/
    
}

/*Dar estilo a los dos imputs ya que son iguales*/
input{
    width: 100%; /*Anchura máxima del contenedor que los contiene*/
    height: 50px; /*Altura de 50px*/
    border-radius: 5px;
    margin: 10px 0px; /*Margen superior e inferior*/
    margin-bottom: 25px;
    border-color: #777777; /*Quitar el borde*/
    background-color:#030208; /*Color de fondo*/
    padding-left: 30px; /*Padding izquierdo*/
    font-size: 17px; /*Tamaño de letra*/
    color: #ffffff;
    border: 2px solid #777777;
    outline: none;
    
}
input:focus {
    border-color: #22ec8a; /* Color rojo similar al de Filmin */
}

/*Dar estilo al botón*/
button{
    display: block; /*Para posicionarlo debajo*/
    background-color: #22ec8a; /*Color de fondo*/
    color: rgb(0, 0, 0); /*Color de la letra*/
    height: 50px; /*Altura*/
    width:45%; /*Anchura*/
    border: none; /*Quitar el borde*/
    border-radius: 10px; /*Redondear los bordes*/
    font-size: 20px; /*Tamaño de la letra*/
    cursor: pointer; /*Cambiar el cursor*/
    margin: 35px auto; /*Dar un pading superior, inferior y centrarlo*/
    font-weight: bold;
}

button:hover{
    opacity: 0.7;
}

/*Dar formato al texto de registrarse y al link utilizando elementos de los estilos anteriores*/
.register{
    color: #22ec8a;
    margin: 0 auto;
    font-size: 20px;
}

.register a {
    text-decoration: none; /*Quitar la línea inferior(subrayado)*/
    color: inherit; /*Heredar el color del texto padre*/
}
.register a:hover {
    opacity: 0.7;
}

/* Tocar la imagen */
.login-image {
    width: 40%;  /* Ocupa la mitad de la pantalla */
    height: 100vh; /* Toma el alto total de la pantalla */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

@media (max-width: 1200px) {
    .login-container {
        flex-direction: column; /*Cambiar a diseño en columna*/
    }

    .login-image {
        width: 100%; /*La imagen ocupa el 100% del ancho*/
        height: 40vh; /*La imagen ocupa menos alto en móviles*/
    }

    .login-form {
        width: 100%; /*El formulario ocupa todo el ancho*/
        padding: 20px; /*Reducir padding en móviles*/
    }
}

/*Cuando la pantalla es más pequeña*/
@media (max-width: 1000px) {
    .login-container {
        flex-direction: column; /*Cambiar a diseño en columna*/
    }

    .login-image {
        width: 100%; /*La imagen ocupa el 100% del ancho*/
        height: 40vh; /*La imagen ocupa menos alto en móviles*/
    }

    .login-form {
        width: 100%; /*El formulario ocupa todo el ancho*/
        padding: 20px; /*Reducir padding en móviles*/
    }
}
